@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #fff  ;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
}

p {
    line-height: 22px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 3px 0 4px rgba(0, 0, 0, .08);
    transition: width 0.3s ease, transform 0.5s ease;
}

.sidebar-title {
    display: block;
    width: 100%;
    padding: 10px 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.sidebar-avatar-text {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    color: #777;
}

.sidebar-nav {
    margin-top: 25px;
}

.sidebar-nav, .sidebar-nav-child {
    list-style: none;
}

.sidebar-nav li a,
.sidebar-nav-child li a {
    display: block;
    width: 100%;
    margin: 7px 0;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #777;
    cursor: pointer;
}

.sidebar-nav span {
    margin: 0;
    margin-left: 13px;
}

.sidebar-nav i {
    font-size: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav .active > a,
.sidebar-nav-child li a:hover,
.sidebar-nav-child .active > a {
    color: #FFF;
    background-color: #00AFD1;
    text-decoration: none;
    transition: color 0.7s ease, background-color 0.7s ease;
}

.sidebar-toggle {
    visibility: hidden;
    position: absolute;
    left: -33px;
    padding: 10px;
    margin-top: 3px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}

.sidebar-nav-arrow {
    float: right;
}

.sidebar-close {
    display: none;
}

#main-panel {
    position: relative;
    width: calc(100% - 240px);
    padding: 0 30px;
    padding-bottom: 15px;
    float: right;
    min-height: 100%;
    max-height: none;
    transition: width 0.3s ease, transform 0.5s ease;
}

#top-nav {
    position: relative;
    margin-top: 25px;
}

#top-nav > nav {
    background-color: transparent;
    border: none;
}

#top-nav > nav .navbar-brand {
    color: #333;
}

#top-nav > nav .navbar-nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}

#top-nav > nav .navbar-nav li .fa-stack {
    color: #FFF;
}

#top-nav > nav .navbar-nav li .fa-stack .fa:first-child {
    color: #00AFD1;
}

.panel-default,
.panel-primary,
.panel-info,
.panel-success,
.panel-warning,
.panel-danger{
    border-top-width: 4px;
    border-top-style: solid;
}
.panel-default{
    border-color: #ff4d76;
}

.panel-primary{
    border-color: #4A90E2;
}

.panel-info{
    border-color: #73C9FF;
}

.panel-success{
    border-color: #4BC872;
}

.panel-warning{
    border-color: #F5BB5F;
}

.panel-danger{
    border-color: #FF7373;
}

.panel-fill, .panel-fill .panel-heading, .panel-fill .panel-title, .panel-fill .panel-body *,
.modal-default *, .modal-primary *, .modal-info *, .modal-success *, .modal-warning *, .modal-danger *{
    color: #FFF;!important
}

.panel-default.panel-fill,
.modal-default .modal-content{
    background-color: #ff4d76;
}

.panel-primary.panel-fill,
.modal-primary .modal-content{
    background-color: #4A90E2;
}

.panel-info.panel-fill,
.modal-info .modal-content{
    background-color: #73C9FF;
}

.panel-success.panel-fill,
.modal-success .modal-content{
    background-color: #4BC872;
}

.panel-warning.panel-fill,
.modal-warning .modal-content{
    background-color: #F5BB5F;
}

.panel-danger.panel-fill,
.modal-danger .modal-content{
    background-color: #FF7373;
}